.search-container {
  max-height: 250px;
  overflow-y: scroll;
}

.text-search-caption {
  overflow: hidden;
}

.placeName {
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

.placeContainer {
  padding-left: 7px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #d3d3d3;
}

.placeContainer:hover {
  background-color: rgba(5, 145, 175, 0.25);
}
